Repository 3scale/3scale-operator, pull requests merged in 2023-11, with the labels that each got.

#884 THREESCALE-10098 Remove Prometheus Rule 'ThreescaleApicastRequestTime'
  doc/prometheusrules/apicast.yaml
  pkg/3scale/amp/component/apicast_monitoring.go
  pkg/3scale/amp/operator/apicast_reconciler.go
  pkg/reconcilers/prometheus_rules.go
  pkg/reconcilers/prometheus_rules_test.go
Labels: ok-to-test, verified, /lgtm

#890 THREESCALE-9556 Add liveness/readyness probes to pods
  pkg/3scale/amp/component/backend.go
  pkg/3scale/amp/component/system.go
  pkg/3scale/amp/component/system_searchd.go
  pkg/3scale/amp/operator/system_reconciler.go
  pkg/3scale/amp/operator/system_searchd_reconciler.go
  pkg/reconcilers/deploymentconfig.go
  pkg/reconcilers/deploymentconfig_test.go
Labels: ok-to-test, verified, approve, /lgtm

#894 THREESCALE-10388 Migrate apicast DeploymentConfigs to Deployments
  controllers/apps/apimanager_controller.go
  controllers/apps/apimanager_status_reconciler.go
  pkg/3scale/amp/component/apicast.go
  pkg/3scale/amp/operator/apicast_options_provider.go
  pkg/3scale/amp/operator/apicast_options_provider_test.go
  pkg/3scale/amp/operator/apicast_reconciler.go
  pkg/3scale/amp/operator/apicast_reconciler_test.go
  pkg/3scale/amp/operator/base_apimanager_logic_reconciler.go
  pkg/helper/deployment.go
  pkg/reconcilers/deployment.go
  pkg/reconcilers/deployment_test.go
  pkg/reconcilers/service.go
  pkg/upgrade/migrate_deployment_config_2.15.go
Labels: verified
